@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,500;0,700;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #000000 0%, #303030 100%);
    background-size: cover;
    color: white;
    font-family: 'Raleway',sans-serif;
}
.content{
    height: 100%;
}
/*  ------------------------- HEADER LOGO -------------------------- */
.box-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}
.socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
  
}
.socials img{
    width: 30px;
    color: white;
}
.name-logo{
    text-transform: uppercase;
    font-size: 40px;
    color: grey;
}
.mikael{
    color: white;
}

/* -----------------------------HEADER LINK--------------------------- */
.links{
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-left: 50px;
}
.links:hover{
    color: greenyellow;
}
.linkedin{
    padding: 20px;
    font-size: 30px;
    
}
.contact{
    width: 150px;
    height: 45px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid greenyellow;
    border-radius: 10px;
    color:white;
    margin-left: 50px;
}
.contact:hover{
    color: green;
    background-color: greenyellow;
}

/* -------------------------- MAIN (NOME )------------------------- */
.container-main{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.text-left{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.hello{
    font-size: 35px;
    margin-bottom: 15px;
}
.name{
    color: greenyellow;
    font-size: 80px;
    margin-bottom: 60px;
}
.experience{
    font-size: 50px;
    margin-bottom:30px ;
}
.experience-years{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 180px;
}
.number{
    font-size: 70px;
    color: grey;
}
.text-number{
    font-size: 20px;
    margin-left: 15px;
    color: grey;
}
#projects-completed{
    margin-left: 50px;
}
.foto-perfil{
    display: flex;
    justify-content: center;
    width:500px ;
    height: 500px;
   
}
.imagem-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 30px;
}
.perfil{
    width: 600px;
}
.html{
    display: flex;
    position: relative;
    width: 80px;
}
/* -----------------------ABOUT-ME ---------------------------- */
.container-aboutme{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 250px;
}
.about-me-title{
    color: greenyellow;
    margin-bottom: 30px;
}
.about-me{
    width: 800px;
    font-size: 30px;
}
.text-card{
    display: flex;
    flex-direction: column;
}

.developer{
    width: 550px;
    height: 150px;
    background-color: #4f4f4f;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.developer-web{
    font-size: 30px;
    margin-bottom: 10px;
}
.chevron-span{
    color: greenyellow;
    font-size: 40px;
}
.link-developer{
    font-size: 20px;
    color: greenyellow;
}
/* ----------------------------- SKILLS ----------------------------- */
.container-skills{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to right top, #303030, #252525, #1b1b1b, #111111, #000000); 
}
.title-sklill{
    display: flex;
    margin-left: 130px;
    margin-bottom: 50px;
}
.skill{
    margin-top: 55px;
    color: greenyellow;
    font-size: 50px;
}
.box-skill{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caracter{
    color: white;
}
.imagem-skill{
    display: flex;
}
.html{
    width: 200px;
    margin-right: 35px;
}
/* ------------------------------ PROJECT ------------------------------------- */
.container-project{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to right top, #000000, #111111, #1b1b1b, #252525, #303030);
}
.title-project{
    display: flex;
    color: greenyellow;
    font-size: 50px;
    margin-left: 130px;
    padding-top: 55px;
}
.project-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imagem-project{
    width:500px ;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid greenyellow;
}
/* -----------------------------------FOOTER---------------------------- */

.rodape{
    color: greenyellow;
    text-align: center;
}
.rodape a{
    text-decoration: none;
    color: greenyellow;
}



@media screen and (max-width:560px){
    body{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .box-menu{
        display: flex;
        flex-direction: column;
    }
    .name-logo{
        font-size: 30px;
    }
    .box-link{
        display: flex;
        margin-right: 60px;
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .box-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 20px;
    }
    .links{
        font-size: 16px;
        margin-left: 10px;
    }
    .contact{
        width: 70px;
        height: 30px;
    }
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socials a{
        margin-left: 15px;
        margin-top: 15px;
    }
    .linkedin{
        display: none;
    }
    .contact{
        width: 150px;
        height:30px;
        margin-left: 10px;
        margin-top: 15px;
    }
    .container-main{
        width: 100%;
        margin-top: 50px;
        flex-direction: column;
    }
    .perfil{
        width: 350px;
        
    }
    .foto-perfil{
        width: 250px;
        height: 250px;
        margin-left: 45px;
        margin-top: 20px;
       
    }
    .imagem-perfil{
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
    }
    
    .hello{
        text-align: center;
        font-size: 40px;
    }
    .nome{
        text-align: center;
        font-size: 65px;
    }
    .experience{
        margin-left: 10px;
        font-size: 35px;
    }
    .number{
        margin-left: 10px;
        font-size: 60px;
    }
    .text-number{
        font-size: 12px;
        margin-top: 10px;
    }
    .container-aboutme{
        width: 100%;
        flex-direction: column;
    }
    .cards{
        width: 100%;
    }
    .developer{
        width: 100%;
    }
    .about-me{
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    .about-me-title{
        margin-left: 15px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .developer{
        width: 300px;
        height: 100px;
    }
   .developer-web{
    font-size: 25px;
   }
   .container-skills{
    width: 100%;
    height: 300px;
   }
   .box-skill{
    width: 100%;
   }
   .imagem-skill{
    flex-wrap: wrap;
   }
   .skill{
    font-size: 25px;
   }
   .html{
    margin-top: 10px;
    width: 50px;
   }
   .container-project{
    width: 100%;
   }
   .title-project{
    font-size: 25px;
   }
   .project-link{
    width: 100%;
    flex-wrap: wrap;
   }
   .imagem-project{
    width: 350px;
    margin-left: 5px;
   }
}
